<header class="site-header">
  <div class="wrapper">
    <div class="site-header__logo">
        <%= link_to "Task App", users_path%>
    </div>

        <nav class="primary-nav--pull-right">
        <% if logged_in? %>
          <ul class="primary-nav__ul">

            <li class="primary-nav__li"><%= link_to "Log out", logout_path, class: "btn", method: :delete %></li>
            <li class="primary-nav__li"><%= link_to "Settings", '#', class: "btn" %></li>

            <li class="primary-nav__li"><%= link_to "Friends", friends_path, class: "btn" %></li>
            <li class="primary-nav__li"><%= link_to "Profile", current_user, class: "btn"%></li>
          </ul>
        <% else %>

          <ul class="primary-nav__ul">
            <li class="primary-nav__li"><%= link_to "Log in", login_path, class: "primary-nav__a" %></li>
          </ul>
        <% end %>
    </nav>
  </div>
</header>
