<%= render 'layouts/header' %>
<%= render 'layouts/hero' %>



  <div class="wrapper large-hero--text-content-login">

      <%= form_for(:session, url: login_path) do |f| %>
        <div class="btn_custom-login">
          <%= f.label :user_name %>
          </div>
          <%= f.text_field :user_name %>


        <div class="btn_custom-login">
          <%= f.label :password %>
          </div>
          <%= f.password_field :password%>


        <%= f.submit "Log in", class: "btn-custom-login"%>

    <% end %>
    <br>
    <span class="text-visibility">New user?</span> <%= link_to "Sign up now!", signup_path, class: "btn_custom-login" %></p>
  </div>
