<%= render '/layouts/header' %>
<div class="wrapper">
  <div class="wrapper__body">


    <%= @friends.each do |friend| %>

    <div class="feed">
      <div class="feed__photo">
        <%= image_tag(Faker::Avatar.image) %>
      </div>
      <h3><%= friend.display_name %></h3>
      <h3><%= "@#{friend.user_name}"%><br></h3>
    </div>
  </div>
</div>
