<%= render 'layouts/header-splash' %>
<%= render 'layouts/hero' %>
<div class="wrapper large-hero--text-content-search">


  <%= form_tag("/search", method: "get") do %>
  <div class="btn_custom--search-label">
    <%= label_tag(:q, "Search By Username:") %>
  </div>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

</div>
<div class="wrapper__body" id="user-results">
  <% if @users != nil %>

    <% @users.each do |user| %>
    <div class="wrapper__body--item">
        <div class="wrapper__small">


              <div class="feed">
                <div class="feed__photo">
                  <%= image_tag(Faker::Avatar.image) %>
                </div>
                <h4><%= link_to user.display_name, user %></h4><br>
                <h4><%= link_to "@#{user.user_name}", user%></h4>
              </div>
          </div>
        </div>



    </div>
      <% end %>
    <% end %>
</div>
