<%= render 'layouts/header' %>
<%= render 'layouts/hero' %>

<div class="wrapper large-hero--text-content-create">

    <%= form_for(@user, url: signup_path) do |f| %>

      <div class="btn_custom-login">
        <%= f.label :display_name %>
      </div>
      <%= f.text_field :display_name%>
      <div class="btn_custom-login">
        <%= f.label :user_name %>
      </div>
      <%= f.text_field :user_name %>
      <div class="btn_custom-login">
        <%= f.label :email %>
      </div>
      <%= f.email_field :email%>
      <div class="wrapper large-hero--text-content-lower">


      <div class="btn_custom-login">
          <%= f.label :password %>
      </div>
      <%= f.password_field :password%>

      <div class="btn_custom-login">
        <%= f.label :password_confirmation, "Confirmation" %>
      </div>
      <%= f.password_field :password_confirmation%>
      </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
