<%= render "/layouts/header" %>
<div class="wrapper">



        <% if current_user == @user %>

          <div class="wrapper__body">
            <h2><%= @user.display_name %></h2>
            <h6 class="section-title btn_custom-drop-task wrapper__body--item "><%=link_to "All Tasks", tasks_path %></h6>
            <h4>Top Tasks</h4>

              <div class="row">
                <div class="col py-3 px-lg-5 border bg-light top-task">
                  <% if @user.top_tasks[0] != nil %>
                    <p class="urgent"><%=link_to @user.top_tasks[0].description, @user.top_tasks[0]%></p>
                    <h3><%=@user.top_tasks[0].date%></h3>
                    <h3><%=@user.top_tasks[0].start_time%></h3>
                    <h3><%=@user.top_tasks[0].end_time%></h3>
                    <% end %>
                </div>
                <div class="col py-3 px-lg-5 border bg-light top-task">
                  <% if @user.top_tasks[1] != nil %>
                  <p class="urgent"><%=link_to @user.top_tasks[1].description, @user.top_tasks[1]%></p>
                  <h3><%=@user.top_tasks[1].date%></h3>
                  <h3><%=@user.top_tasks[1].start_time%></h3>
                  <h3><%=@user.top_tasks[1].end_time%></h3>
                  <% end %>
                </div>
                <div class="col py-3 px-lg-5 border bg-light top-task">
                  <% if @user.top_tasks[2] != nil %>
                  <p class="urgent"><%=link_to @user.top_tasks[2].description, @user.top_tasks[2]%></p>
                  <h3><%=@user.top_tasks[2].date%></h3>
                  <h3><%=@user.top_tasks[2].start_time%></h3>
                  <h3><%=@user.top_tasks[2].end_time%></h3>
                  <% end %>
                </div>
              </div>

              <div class="wrapper__body">
                <% image_array = ["cat-hi-dpi.jpg", "jane-hi-dpi.jpg", "john-hi-dpi.jpg"] %>

                      <h2 class="section-title"><%= image_tag("comment.svg", class: "section-title_icon" )%><strong>The Feed</strong></h2><br>


                      <% if current_user == @user %>
                      <% @user.friend_feed.each do |task_list| %>

                        <% if task_list.empty? %>
                          <% next %>
                        <% end %>

                        <div class="wrapper__small">
                          <% task_list.each do |task| %>


                              <div class="feed">
                                <div class="feed__photo">
                                  <%= link_to image_tag(Faker::Avatar.image, :alt => "Image Description"), task %>

                                </div>
                                <p><%= task.description %></p>
                                <h3><%= "Start Date: #{task.date}" %><br></h3>
                                <h4><%= "By: #{task.user.display_name}" %></h4>
                              </div>
                          <% end %>
                        </div>

                      <% end %>
                      <% end %>
                    </div>

          </div>



        <% else %>


          <div class="wrapper__body">
            <div class="">
              <h2 class="section-title-main"><%= @user.display_name %>
              </h2>
              <span class="btn_custom_small">
                <%= form_tag("/requests", method: "post") do %>
                <%= hidden_field_tag(:id, @user.id) %>
                <%= submit_tag("Add Friend") %>
                <% end %>
              </span>
            </div>

             <h4>Top Tasks</h4>
            <% @user.top_tasks.each do |t| %>
              <div class="top-task">
                <p><%= t.description%></p>
                <h3><%= "Date: #{t.date}" %></h3>
                <h3><%= "Start Time: #{t.start_time}" %></h3>
                <h3><%= "End Time: #{t.end_time}" %></h3>
              </div>
              <% end %>
            </div>



        <% end %>



</div>
